{{ ansible_managed | comment }}
[Unit]
Description=alertmanager_logger
Documentation={{ alertmanager_logger_documentation_link }}
Requires=network-online.target
After=network-online.target

[Service]
PrivateTmp={{ alertmanager_logger_private_tmp }}
User={{ alertmanager_logger_user }}
Group={{ alertmanager_logger_group }}
RuntimeDirectory=alertmanager_logger
LimitNOFILE={{ alertmanager_logger_max_files }}

ExecStart=/bin/sh -c "{{ alertmanager_logger_bin_path }}/{{ alertmanager_logger_exec_name }} {% for option in alertmanager_logger_options %}{% if option %}-{{ option }} {% endif %}{% endfor %} >> {{ alertmanager_logger_log_path }}/{{ alertmanager_logger_log_file }} 2>&1"

ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
Restart=always

[Install]
WantedBy=multi-user.target
